<table tuiTable class="table" [columns]="columns"  aria-label="Tabela de categorias">
  <thead>
    <tr tuiThGroup>
      <th tuiTh [resizable]="true">
        Nome
      </th>
      <th tuiTh></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="categorias">
    <tr *ngFor="let item of categorias" tuiTr>
      <td *tuiCell="'nome'" tuiTd>
        {{ item.nome }}
      </td>
      <td *tuiCell="'ações'" tuiTd class="container__td">
        <div class="tui-space_top-3 container__button">
         <button
           class="tui-space_right-3 tui-space_bottom-3"
           tuiButton
           appearance="outline"
           icon="tuiIconEdit2"
           title="editar categoria"
           size="s"
           title="editar categoria"
           [routerLink]="['/categorias/editar', item.id]"
          >
           </button>
          <button
            class="tui-space_right-3 tui-space_bottom-3"
            tuiButton
            appearance="outline"
            icon="tuiIconTrash"
            title="deletar categoria"
            size="s"
            type="button"
            (click)="deletar(item.id)"
          >
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #semRegistro>
  <tui-notification status="info" class="tui-space_vertical-4">
    Não há registros para exibir. Clique no botão " Adicionar" para adicionar um novo registro.
  </tui-notification>
</ng-template>
