<div>
  <h1>Balanço mensal</h1>

  <div *ngIf="balanco$ | async as balanco">
    <h2>Categorias</h2>
    <div class="categoria__container">
      <ul class="categoria__lista">
        <li *ngFor="let categoria of balanco.categorias">
          <p class="categoria__item">
            {{ categoria.nome }}: <strong>{{ categoria.valorTotal | currency : 'BRL' }}</strong>
          </p>
        </li>
      </ul>

      <p class="categoria__paragrafo">Total: <strong>{{ balanco.valorTotal | currency : 'BRL' }}</strong></p>
    </div>
  </div>
</div>
