<form class="b-form" [formGroup]="form">
  <tui-input formControlName="descricao">
    <label for="descricao">Descrição</label>
    <input tuiTextfield type="text" id="descricao" />
  </tui-input>
  <tui-input formControlName="valor">
    <label for="valor">valor</label>
    <input tuiTextfield type="number" id="valor" />
  </tui-input>

  <select name="categoria" id="categoriaId" formControlName="categoriaId" >
    <option value="">Selecione uma categoria</option>
    <option *ngFor="let categoria of categorias$ | async" [value]="categoria.id">
      {{categoria.nome}}
    </option>
  </select>

</form>
