<table tuiTable class="table" [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh [resizable]="true">
        Descrição
      </th>
      <th tuiTh>Valor</th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="contas">
    <tr *ngFor="let item of contas" tuiTr>
      <td *tuiCell="'descricao'" tuiTd>
        {{ item.descricao }}
      </td>
      <td *tuiCell="'valor'" tuiTd>
        {{ item.valor }}
      </td>
      <td>
        <button tuiButton type="button" [routerLink]="['/contas/editar', item.id]" title="editar">
          <tui-svg src="tuiIconEdit"></tui-svg>
        </button>
      </td>
      <td>
        <button tuiButton type="button" (click)="deletarConta.emit(item.id)" title="deletar">
          <tui-svg src="tuiIconTrash"></tui-svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>