<div class="container__header">
  <h1>lista de categorias</h1>
  <button
    iconRight="tuiIconPlusCircle"
    tuiButton
    type="button"
    routerLink="/categorias/criar"
    class="tui-space_right-3 tui-space_bottom-3">
    Cadastrar
  </button>
</div>
<div>
  <tui-notification status="error" class="tui-space_vertical-4" *ngIf="erroAoDeletar">
    Não foi possível deletar a categoria. Tente novamente mais tarde.
  </tui-notification>
  <div *ngIf="categorias$ | async as categorias">
    <app-tabela [categorias]="categorias" (deletarCategoria)="deletar($event)" />
  </div>
</div>
